$red-color: #e20d0d;
$border-color: #000000;
$sidebar-background: #e4cccc;
$white-background: #fff;

.body {
    margin: 0;
}

header {
    border-bottom: 1px solid $border-color;
}

.clear {
    clear: both;
}

.header-date {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}

.header-menu {
    float: left;
    text-align: left;
    height: 70px;
    line-height: 70px;

    & #toggle {
        display: none;
    }

    &_label {
        margin: 0 0 0 40px;
        font-size: 26px;
        line-height: 70px;
        display: none;
    }

    &_links {
        text-align: left;
        margin: 0 30px;
        position: relative;
        z-index: 5;

        &_item {
            text-decoration: none;
            color: gray;
            margin: 0 10px;
            line-height: 70px;
            background-color: $white-background;

            &:hover {
                color: $red-color;
            }

            &--active {
                color: $red-color;
            }
        }
    }
} 

.page {
    padding: 0;
    z-index: 0;
    position: relative;

    &_side-bar {
        padding-left: 250px;
    }
}

.content {
    margin: 0;
    padding: 0 120px;
    position: relative;
}

.side-bar {
    width: 249px;
    background-color: $sidebar-background;
    border-right: 1px solid $border-color;
    position: fixed;
    top: 70px;
    left: 0;
    bottom: 0;

    &_toggle {
        position: absolute;
        top: 10px;
        left: 10px;
        cursor: pointer;
        font-size: 26px;
    }

    &_inner {
        height: 100%;
        overflow: auto;

        &_content {
            min-height: 100%;
            padding-top: 30px;
            border-top: 1px solid #000;
        }

        &_links {
            text-align: left;
            margin: 0 30px;
    
            &_item {
                text-decoration: none;
                color: gray;
                margin: 0 10px;
                line-height: 35px;
                display: block;
    
                &:hover {
                    color: $red-color;
                }
    
                &--active {
                    color: $red-color;
                }
            }
        }
    }
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    border-top: 1px solid #000;
    background-color: #fff;
    box-sizing: border-box;
}

@media only screen and (max-width: 767px) {
    .header-menu {
        &_label {
            display: block;
            cursor: pointer;
        }
        &_links {
            text-align: center;
            width: 100%;
            display: none;
            margin-left: 0;

            &_item {
                display: block;
                border-bottom: 1px solid $border-color;
                margin: 0;
            }
        }
    }

    #toggle:checked + .header-menu_links {
        display: block;
    }

    .page {
        &_side-bar {
            padding-left: 0;
        }
    }
    .side-bar {
        display: none;

        &_toggle {
            display: none;
        }
    }
}

@media only screen and (max-width: 479px) {
    .content {
        padding: 0 20px;
    }
}